java
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.web.servlet.FilterRegistrationBean;
import org.springframework.context.annotation.Bean;
import org.springframework.web.servlet.config.annotation.EnableWebMvc;

@SpringBootApplication
@EnableWebMvc
public class Application {

    public static void main(String[] args) {
        SpringApplication.run(Application.class, args);
    }

    @Bean
    public FilterRegistrationBean<AuthenticateFilter> authenticateFilter() {
        FilterRegistrationBean<AuthenticateFilter> registrationBean = new FilterRegistrationBean<>();
        registrationBean.setFilter(new AuthenticateFilter());
        registrationBean.addUrlPatterns("/*");
        return registrationBean;
    }

    @Bean
    public ServletRegistrationBean<AnvilWebServlet> anvilWebServlet() {
        ServletRegistrationBean<AnvilWebServlet> registrationBean = new ServletRegistrationBean<>(new AnvilWebServlet(), "/AnvilWebServlet");
        registrationBean.setLoadOnStartup(0);
        return registrationBean;
    }
}
